@page "/history"
@using PiFanCtrl.Interfaces
@using PiFanCtrl.Model
@using PiFanCtrl.Services.Stores
@attribute [StreamRendering]
@inject SlidingReadingStore ReadingStore

<PageTitle>Temperature History</PageTitle>

<h1>Temperature History</h1>

@if (_readings == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="Temperature">Value</th>
            <th>Sensor</th>
        </tr>
        </thead>
        <tbody>
        @foreach (IReading? reading in _readings)
        {
            <tr>
                <td>@reading.AsOf.ToString("o")</td>
                <td>@reading.Value</td>
                <td>@reading.Source</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IReading[]? _readings;

    protected override Task OnInitializedAsync()
    {
        _readings = ReadingStore.GetAll().ToArray();
        return Task.CompletedTask;
    }

}