@page "/"
@using PiFanCtrl.Services.Temperature
@using Graph = PiFanCtrl.Components.Components.TemperatureVsFanSpeedGraph

@inject DummyTemperatureSensor tempSensor
@inject NavigationManager navigationManager

<PageTitle>Home</PageTitle>

<div class="container-fluid overflow-x-auto">
    <PiFanCtrl.Components.Components.TemperatureVsFanSpeedGraph/>

    <EditForm Model="Model" OnValidSubmit="SubmitAsync" FormName="Simulation">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <InputNumber @bind-Value="Model!.Temperature" min="0" max="120"/>

        <button type="submit">Submit</button>
    </EditForm>

    <button @onclick="Reset">Reset</button>
</div>

@code {
    public TestModel Model { get; set; } = null!;

    public async Task SubmitAsync()
    {
        if (Model?.Temperature is not null)
        {
            tempSensor.Simulate(Model.Temperature.Value);
            navigationManager.NavigateTo("/", forceLoad: true);
        }
    }

    public async Task Reset()
    {
        tempSensor.Reset();
        navigationManager.NavigateTo("/", forceLoad: true);
    }

    protected override void OnInitialized() =>
        Model ??= new() { };

    public class TestModel
    {
        public decimal? Temperature { get; set; }
    }

}